
.daily input, .daily textarea {
    /* background-color: #00456a; */
    border: 1px solid #43b4ef;
    /* color: white; */
}

.daily input:focus,  .daily textarea:focus {
    /* background-color: #00456a; */
    border: 1px solid #43b4ef;
    /* color: white; */
    border-color: #104eac;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(5, 25, 55, 0.25);
}

.daily input::placeholder, .daily textarea::placeholder {
    color: #6795ae;
}

.daily {
    padding: 1.25rem;
    /* padding-top: 0.2rem; */

    /* background-image: linear-gradient(
        to right top, 
        #051937, #14183b, #21163d, #2f123d, 
        #3b0c3a, #4e083c, #60043b, #710038, 
        #8e0036, #a9002e, #c1001f, #d40a00
    );
    background-repeat: no-repeat;
    background-attachment: fixed; */
}
.daily .card {
    padding: 0.4rem 0.25rem 0rem 0.25rem;
    /* padding-top: 0.2rem; */
/* 
    background-image: linear-gradient(to right top, #051937, #14183b, #21163d, #2f123d, #3b0c3a, #4e083c, #d40a00);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.daily .card-body {
    padding: 0.6rem;
}

.daily-column {
    margin: 0px;
    padding: 0px;
}

.daily-column span {
    width: 100%;
    /* background-color: #051937; */
    /* color: white; */
}

@media (max-width: 992px) {
    .daily .card-body div:nth-child(2)  {
        /* justify-content: flex-end;     */
        align-items: flex-start !important;
        margin-top: 1rem;
    }
}